.about-row{
  margin: 0 auto;    
  display: flex;
  justify-content: center;
  align-items: center;!!important;

}

/* .about-col-8-1{
/* .about-col-8-1{





} */


class="about-col-8-1"

class="about-row"

.about-col-6-0{
}