:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --color3: rgb(118, 253, 0);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --charizard1: #fac;
  --charizard2: #ddccaa;
/*   --charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp); */
  --charizardfront: url(http://img.blog.1207.top/img/202510241901220.png);
  --pika1: #54a29e;
  --pika2: #a79d66;
/*   --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp); */
  --pikafront: url(http://img.blog.1207.top/img/202510241902480.png);
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
/*   --eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp); */
  --eeveefront: url(http://img.blog.1207.top/img/202510241903963.png);
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;
/*   --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp); */
  --mewtwofront: url(http://img.blog.1207.top/img/202510241903828.png);

  --smn0front: url();


  /* 速卡 */
  --smn101front: url(http://img.blog.1207.top/img/202509181547490.png);
  --smn102front: url(http://img.blog.1207.top/img/202509181548709.png);
  --smn103front: url(http://img.blog.1207.top/img/202509181548733.png);
  --smn104front: url(http://img.blog.1207.top/img/202509181549275.png);
  --smn105front: url(http://img.blog.1207.top/img/202509181549226.png);
  --smn106front: url(http://img.blog.1207.top/img/202509181549691.png);
  --smn107front: url(http://img.blog.1207.top/img/202509181550538.png);
  --smn108front: url(http://img.blog.1207.top/img/202509181550922.png);
  --smn109front: url(http://img.blog.1207.top/img/202509181551850.png);
  --smn110front: url(http://img.blog.1207.top/img/202509181551310.png);
  --smn111front: url(http://img.blog.1207.top/img/202509181551969.png);
  --smn112front: url(http://img.blog.1207.top/img/202509181551752.png);

  --smn151front: url(http://img.blog.1207.top/img/202509181427011.png);
  --smn152front: url(http://img.blog.1207.top/img/202509181442450.png);
  --smn153front: url(http://img.blog.1207.top/img/202509181443414.png);
  --smn154front: url(http://img.blog.1207.top/img/202509181443751.png);
  --smn155front: url(http://img.blog.1207.top/img/202509181443966.png);
  --smn156front: url(http://img.blog.1207.top/img/202509181443939.png);
  --smn157front: url(http://img.blog.1207.top/img/202509181444733.png);

  /* 耐卡 */
  --smn201front: url(http://img.blog.1207.top/img/202509181554239.png);
  --smn202front: url(http://img.blog.1207.top/img/202509181555663.png);
  --smn203front: url(http://img.blog.1207.top/img/202509181555175.png);
  --smn204front: url(http://img.blog.1207.top/img/202509181555108.png);
  --smn205front: url(http://img.blog.1207.top/img/202509181555130.png);
  --smn206front: url(http://img.blog.1207.top/img/202509181555550.png);
  --smn207front: url(http://img.blog.1207.top/img/202509181556392.png);

  --smn251front: url(http://img.blog.1207.top/img/202509181453908.png);
  --smn252front: url(http://img.blog.1207.top/img/202509181453240.png);
  --smn253front: url(http://img.blog.1207.top/img/202509181453030.png);
  --smn254front: url(http://img.blog.1207.top/img/202509181453983.png);

  /* 力卡 */
  --smn301front: url(http://img.blog.1207.top/img/202509181559560.png);
  --smn302front: url(http://img.blog.1207.top/img/202509181559327.png);
  --smn303front: url(http://img.blog.1207.top/img/202509181559671.png);
  --smn304front: url(http://img.blog.1207.top/img/202509181559637.png);
  --smn305front: url(http://img.blog.1207.top/img/202509181600747.png);
  --smn306front: url(http://img.blog.1207.top/img/202509181600138.png);
  --smn307front: url(http://img.blog.1207.top/img/202509181600025.png);
  --smn308front: url(http://img.blog.1207.top/img/202509181601975.png);
  --smn309front: url(http://img.blog.1207.top/img/202509181601556.png);

  --smn351front: url(http://img.blog.1207.top/img/202509181456711.png);
  --smn352front: url(http://img.blog.1207.top/img/202509181456225.png);
  --smn353front: url(http://img.blog.1207.top/img/202509181456307.png);
  --smn354front: url(http://img.blog.1207.top/img/202509181456949.png);
  --smn355front: url(http://img.blog.1207.top/img/202509181457112.png);

  /* 根卡 */
  --smn401front: url(http://img.blog.1207.top/img/202509181602293.png);
  --smn402front: url(http://img.blog.1207.top/img/202509181602145.png);
  --smn403front: url(http://img.blog.1207.top/img/202509181603874.png);
  --smn404front: url(http://img.blog.1207.top/img/202509181603857.png);
  --smn405front: url(http://img.blog.1207.top/img/202509181603658.png);
  --smn406front: url(http://img.blog.1207.top/img/202509181603117.png);
  --smn407front: url(http://img.blog.1207.top/img/202509181603196.png);

  --smn451front: url(http://img.blog.1207.top/img/202509181454258.png);
  --smn452front: url(http://img.blog.1207.top/img/202509181454635.png);
  --smn453front: url(http://img.blog.1207.top/img/202509181454547.png);
  --smn454front: url(http://img.blog.1207.top/img/202509181454720.png);
  --smn455front: url(http://img.blog.1207.top/img/202509181455494.png);
  --smn456front: url(http://img.blog.1207.top/img/202509181455924.png);
  --smn457front: url(http://img.blog.1207.top/img/202509181455848.png);

  /* 智卡 */
  --smn501front: url(http://img.blog.1207.top/img/202509181607593.png);
  --smn502front: url(http://img.blog.1207.top/img/202509181607008.png);
  --smn503front: url(http://img.blog.1207.top/img/202509181607512.png);
  --smn504front: url(http://img.blog.1207.top/img/202509181607633.png);
  --smn505front: url(http://img.blog.1207.top/img/202509181607963.png);
  --smn506front: url(http://img.blog.1207.top/img/202509181608525.png);
  --smn507front: url(http://img.blog.1207.top/img/202509181608873.png);
  --smn508front: url(http://img.blog.1207.top/img/202509181608427.png);


  --smn551front: url(http://img.blog.1207.top/img/202509181514193.png);
  --smn552front: url(http://img.blog.1207.top/img/202509181514777.png);
  --smn553front: url(http://img.blog.1207.top/img/202509181516716.png);
  --smn554front: url(http://img.blog.1207.top/img/202509181516387.png);
  --smn555front: url(http://img.blog.1207.top/img/202509181517296.png);
  --smn556front: url(http://img.blog.1207.top/img/202509181517877.png);
  --smn557front: url(http://img.blog.1207.top/img/202509181517510.png);
  --smn558front: url(http://img.blog.1207.top/img/202509181517566.png);
  --smn559front: url(http://img.blog.1207.top/img/202509181518712.png);




}

 /* div框 */
 @keyframes lightning {
  0% {
    box-shadow: 0 0 10px rgb(255, 53, 53), 0 0 20px rgb(205, 89, 43), 0 0 30px yellow, 0 0 40px rgb(77, 255, 0), 0 0 70px rgb(0, 242, 255), 0 0 80px rgb(0, 47, 255), 0 0 100px rgb(128, 0, 255), 0 0 150px rgb(255, 0, 242);
  }
  33% {
    box-shadow: 0 0 10px rgb(21, 255, 0), 0 0 20px rgb(0, 229, 255), 0 0 30px rgb(0, 140, 255), 0 0 40px rgb(38, 0, 255), 0 0 70px rgb(149, 0, 255), 0 0 80px rgb(255, 0, 251), 0 0 100px rgb(255, 51, 0), 0 0 150px transparent;
  }
  66% {
    box-shadow: 0 0 10px rgb(58, 225, 237), 0 0 20px rgb(77, 91, 247), 0 0 30px rgb(25, 21, 133), 0 0 40px rgb(63, 26, 197), 0 0 70px rgb(104, 20, 152), 0 0 80px rgb(174, 0, 255), 0 0 100px rgba(255, 66, 242, 0.742), 0 0 150px rgb(254, 66, 66);
  }
  100% {
    box-shadow: 0 0 10px rgb(255, 53, 53), 0 0 20px rgb(205, 89, 43), 0 0 30px yellow, 0 0 40px rgb(77, 255, 0), 0 0 70px rgb(0, 242, 255), 0 0 80px rgb(0, 47, 255), 0 0 100px rgb(128, 0, 255), 0 0 150px rgb(255, 0, 242);
  }
}


.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -10px -10px 10px -10px var(--color1),-10px -10px 10px -10px var(--color3), 10px 10px 10px -10px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgb(244, 134, 134);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #6887f8;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  animation: lightning 6s infinite;
}

@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.card:hover {
  /* box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5); */
  animation: lightning 6s infinite;
}

.card.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.card.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.card.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.card.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront);
}
.card.charizard:hover,
.card.pika:hover,
.card.mewtwo:hover,
.card.eevee:hover{
  /* box-shadow: 0 0 30px -5px rgb(229, 147, 147), 0 0 10px -2px rgb(249, 153, 153), 0 55px 35px -20px rgba(0, 0, 0, 0.5); */
  animation: lightning 6s infinite;
}

/* ".card.smn5"是指具有类名"card"和"smn5"的HTML元素。这通常用于CSS样式表中，表示对具有这两个类名的HTML元素应用特定的样式。例如，如果你的HTML代码中有一个类似于<div class="card smn5"></div>的元素，那么这个CSS样式就会应用到这个元素上。 */
/* 要选择具有类名"card"以及任意其他类名的HTML元素，可以使用CSS选择器.card[class*=""],它可以选择所有包含类名"card"的HTML元素，而不管它是否有其他类名。 */

.card[class*="smn"]:hover:before,
.card[class*="smn"].active:before{
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}
/* 使用属性选择器[class*="smn"]来选择所有类名中包含"smn"的HTML元素，并将它们的共同样式放在一起。这样就可以更加简洁地表示这些选择器。 */

.card.smn101 {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--smn101front);
}
.card.smn102 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn102front);
}
.card.smn103 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn103front);
}
.card.smn104 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn104front);
}
.card.smn105 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn105front);
}
.card.smn106 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn106front);
}
.card.smn107 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn107front);
}
.card.smn108 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn108front);
}
.card.smn109 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn109front);
}
.card.smn110 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn110front);
}
.card.smn111 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn111front);
}
.card.smn112 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn112front);
}
.card.smn151 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn151front);
}
.card.smn152 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn152front);
}
.card.smn153 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn153front);
}
.card.smn154 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn154front);
}
.card.smn155 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn155front);
}
.card.smn156 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn156front);
}
.card.smn157 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn157front);
}


.card.smn201 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn201front);
}
.card.smn202 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn202front);
}
.card.smn203 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn203front);
}
.card.smn204 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn204front);
}
.card.smn205 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn205front);
}
.card.smn206 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn206front);
}
.card.smn207 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn207front);
}
.card.smn251 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn251front);
}
.card.smn252 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn252front);
}
.card.smn253 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn253front);
}
.card.smn254 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn254front);
}


.card.smn301 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn301front);
}
.card.smn302 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn302front);
}
.card.smn303 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn303front);
}
.card.smn304 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn304front);
}
.card.smn305 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn305front);
}
.card.smn306 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn306front);
}
.card.smn307 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn307front);
}
.card.smn308 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn308front);
}
.card.smn309 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn309front);
}
.card.smn351 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn351front);
}
.card.smn352 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn352front);
}
.card.smn353 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn353front);
}
.card.smn354 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn354front);
}
.card.smn355 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn355front);
}


.card.smn401 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn401front);
}
.card.smn402 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn402front);
}
.card.smn403 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn403front);
}
.card.smn404 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn404front);
}
.card.smn405 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn405front);
}
.card.smn406 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn406front);
}
.card.smn407 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn407front);
}
.card.smn451 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn451front);
}
.card.smn452 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn452front);
}
.card.smn453 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn453front);
}
.card.smn454 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn454front);
}
.card.smn455 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn455front);
}
.card.smn456 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn456front);
}
.card.smn457 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn457front);
}


.card.smn501 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn501front);
}
.card.smn502 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn502front);
}
.card.smn503 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn503front);
}
.card.smn504 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn504front);
}
.card.smn505 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn505front);
}
.card.smn506 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn506front);
}
.card.smn507 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn507front);
}
.card.smn508 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn508front);
}
.card.smn551 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn551front);
}
.card.smn552 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn552front);
}
.card.smn553 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn553front);
}
.card.smn554 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn554front);
}
.card.smn555 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn555front);
}
.card.smn556 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn556front);
}
.card.smn557 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn557front);
}
.card.smn558 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn558front);
}
.card.smn559 {
  --color1: #ec9bb6;--color2: #ccac6f;--color3: #69e4a5;--color4: 
  #8ec5d6;--color5: #b98cce;--front: var(--smn559front);
}


.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
          animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
          animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
          animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
          animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
          animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
          animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
/* .card.eevee:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover:before,
.card.eevee.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
} */

.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .card > span {
  position: relative;
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
          animation: none;
}

.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  -webkit-animation: none;
          animation: none;
}

.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}
.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}
.demo .card:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

html, body {
  height: 100%;
  background-color: #333844;
  padding: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0.1px);
}

body {
  color: white;
  background-color: #232424;
  font-family: "Heebo", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
 

}
#zong {
  color: white;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  font-family: "Heebo", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;


  background-color: #1e4056; 
  max-width: 100%;
  --card-bg: rgb(255, 255, 255, 0.0);
/* 渐变动画效果 */
  background: linear-gradient(
      -45deg,
      /* #cdb9e8,
      #eccec5,
      #a3e9eb,
      #bdbdf0,
      #eec1ea */
	  #a176d9,
      #d87fe3,
      #d7888c,
      #bde5f0,
      #b3d99a,
      #1e4056
    );
  position: relative;
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite !important;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  display: block;
  margin:  0;
}

p {
  margin-top: 5px;
  font-weight: 200;
}

#app {
  position: relative;
}

.demo,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}
.cards .card:nth-child(2), .cards .card:nth-child(2):before, .cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.cards .card:nth-child(3), .cards .card:nth-child(3):before, .cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.cards .card:nth-child(4), .cards .card:nth-child(4):before, .cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

p {
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 0;
  -webkit-animation: rubberBand 1.5s linear 3s 1;
          animation: rubberBand 1.5s linear 3s 1;
}

.promo {
  margin-top: 50px;
}

.promo img {
  margin-top: 10px;
  max-width: 80%;
}

p a {
  color: cyan;
}

html, body, main {
  min-height: 100%;
}

@-webkit-keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

